<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @message.name %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @message.image ,class:"item-box-img" %>

     
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= @message.price %>円
      </span>
     
    </div>
  <% if user_signed_in? %>
    <% if current_user.id == @message.user_id %>
      <%= link_to "投稿の編集", edit_message_path, method: :get, class: "item-red-btn" %>
      <p class="or-text">or</p>
     <%= link_to "削除", message_path(@message.id), method: :delete, class:"item-destroy" %>
    <% else %>
    <%= link_to "購入画面に進む", "#", method: :get,class:"item-red-btn"%>
    <% end %>
 <%end%>
  
 


    <div class="item-explain-box">
      <span><%= @message.description %></span>
    </div>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な投稿の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
       
      
  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の投稿
    </a>
    <a href="#" class="change-item-btn">
      後ろの投稿 ＞
    </a>
  </div>
  
</div>

<%= render "shared/footer" %>
